<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Posts</title>
</head>

<body>
	<h1>Posts</h1>

	<section>
		{% for post in posts %}

		<article>
			<h2>{{ post.title}}</h2>
			<small>{{ post.date }}</small>
			<p>{{ post.description|truncatechars:150 }}</p>
			<img src="public/{{ post.image }}" alt={{post.title}}>
			<br>
			<a href="{% url 'blog:post_detail' post.id %}">link del post</a>
		</article>

		{% endfor %}

	</section>
</body>

</html>